@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0e2b65;

  @apply text-[14px];
  @apply md:text-[16px];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sigmar'
}

section {
  @apply py-16;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  @apply mx-auto my-0;
}

.row {
  @apply flex;
  @apply px-8;
}

.btn {
  @apply block;
  @apply bg-[#0e2b65];
  @apply rounded-md;
  @apply p-4;
  @apply font-bold;
  @apply text-white;
}

h1 {
  @apply text-[2.5rem];
  @apply md:text-[4rem];
}

p {
  @apply mb-4;
}

.row {
  
}
